.testCaseListControl-container {
  max-height: calc(100vh - 90px); 
  height: calc(100vh - 90px); 
  overflow-y: auto;  
}

.testCaseListControl-row {
    border-bottom: 1px solid grey!important;
    height: 65px;
}

.testCaseListControl-row:hover {
    background-color: #343434!important;
}

.testCaseListControl-row {
    text-align: left;
}
.testCaseListControl-row[aria-selected="true"] {
    background-color: #2a72a5!important;
}

.testCaseListControl-container .fui-DataGridHeader .fui-DataGridSelectionCell,
.testCaseListControl-container .testCaseListControl-row > .fui-DataGridSelectionCell {
    display: none;
}

/* This is the Score column*/
.testCaseListControl-container .fui-DataGridHeader .fui-DataGridHeaderCell:nth-child(2),
.testCaseListControl-container .testCaseListControl-row > .fui-DataGridCell:nth-of-type(2) {
    width: 90px!important;
    min-width: 90px!important;
    max-width: 90px!important;
}

/* This is the Context column*/
.testCaseListControl-container .fui-DataGridHeader .fui-DataGridHeaderCell:nth-child(3),
.testCaseListControl-container .testCaseListControl-row > .fui-DataGridCell:nth-of-type(3) {
    width: 400px!important;
    min-width: 400px!important;
    max-width: 400px!important;
}